* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: #ebebeb;
}

section {
  width: 1120px;
  margin: 0 auto;
  padding: 40px;
}
.titulo {
  display: flex;
  align-items: baseline;
  margin: 0 0 16px 0;
}

.titulo h2 {
  font: 25px, "Roboto", sans-serif;
  color: #666;
  margin: 0 16px 0 0;
}

.titulo a {
  font: 25px, "Roboto", sans-serif;
  color: #3483fa;
}

.produtos {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.produto {
  background: #fff;
  width: 250px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  padding: 4px;
}

.produto img {
  width: 250px;
}

.produto:hover .detalhes p {
  display: block;
}
.produto .detalhes {
  padding: 16px;
  border-top: 1px solid #ddd;
}

.produto .detalhes h3 {
  font: bold 24px, "Roboto", sans-serif;
  color: #333;
  margin: 0 0 4px 0;
}

.produto .detalhes span {
  display: block;
  font: bold 14px, "Roboto", sans-serif;
  color: #333;
  margin: 0 0 16px 0;
}
.produto .detalhes p {
  display: none;
  font: 14px, "Roboto", sans-serif;
  color: #666;
}

/* Seu código css aqui */
